body {
    font-family: "Open Sans","Gill Sans MT","Gill Sans",sans-serif;
    font-size: 16px;
    background-color: #baedf5;
}

.london {
    position: absolute;
    top: -30px;
    left: 450px;
}

.washington {
    position: relative;
    top: -50px;
    left: 250px;
}

.canberra {
    position: relative;
    top: 130px;
    left: 150px;
}

.brasilia {
    position: relative;
    top: 80px;
    left: 130px;
}

.tokyo {
    position: relative;
    top: -20px;
    left: -50px;
}

.capetown {
    position: relative;
    top: 130px;
    left: 105px;
}

.towns {
    position: absolute;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.card {
    background-color: #17a2b8;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    width: 100%;
}

.opacity {
    opacity: 0.8;
}

input {
    background-color: #baedf5;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
}

button {
    background-color: #baedf5;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
   }


.img {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}