<div class="row bg-info rounded flex" style="height: 4rem;" ng-controller="appHeaderCtrl">
    <div class="col-2">
        <img src="https://img.icons8.com/ios/24/000000/snowflake.png"/>
        <span>Weather</span>
    </div>
    <div class="col-9">
        <input type="text" style="width: 100%" list="cities" ng-model="valueInput">
        <datalist id="cities">
            <option value="Athens"></option>
            <option value="Amsterdam"></option>
            <option value="Belgrad"></option>
            <option value="Berlin"></option>
            <option value="Bern"></option>
            <option value="Brussels"></option>
            <option value="Helsinki"></option>
            <option value="Kiev"></option>
            <option value="Minsk"></option>
            <option value="Moscow"></option>
            <option value="Oslo"></option>
            <option value="Ottawa"></option>
            <option value="Paris"></option>
            <option value="Riga"></option>
            <option value="Rim"></option>
        </datalist>
    </div>
    <div class="col-1">
        <button type="button" ng-click="oneTown()">
            <img src="https://img.icons8.com/material-rounded/16/000000/search.png"/>
        </button>
    </div>
    <p>{{valueInput}}</p>
</div>