<div class="cards">
    <div class='card flex' style='width: 11rem; height: 16rem'>
        <span>Today</span>
        <div class='flex'>
            <img src="http://openweathermap.org/img/wn/{{data.current.weather[0].icon}}@2x.png" alt="">
        </div>
        <div class='card-body'>
            <label for="">Temperature:</label>
            <span ng-bind="(data.current.temp.day - 273).toFixed(1)"></span>
            <label for="">Humidity:</label>
            <span ng-bind="(data.current.humidity)"></span>
        </div>
    </div>


    <div class='card flex' style='width: 11rem; height: 16rem'>
        <span>Tomorrow</span>
        <div class='flex'>
            <img src="http://openweathermap.org/img/wn/{{data.daily[0].weather[0].icon}}@2x.png" alt="">
        </div>
        <div class='card-body'>
            <label for="">Temperature:</label>
            <span ng-bind="(data.daily[0].temp.day - 273).toFixed(1)"></span>
            <label for="">Humidity:</label>
            <span ng-bind="(data.daily[0].humidity)"></span>
        </div>
    </div>
    
    
    <div class='card flex' style='width: 11rem; height: 16rem'>
        <span>After Tomorrow</span>
        <div class='flex'>
            <img src="http://openweathermap.org/img/wn/{{data.daily[1].weather[0].icon}}@2x.png" alt="">
        </div>
        <div class='card-body'>
            <label for="">Temperature:</label>
            <span ng-bind="(data.daily[1].temp.day - 273).toFixed(1)"></span>
            <label for="">Humidity:</label>
            <span ng-bind="(data.daily[1].humidity)"></span>
        </div>
    </div>
    
    <div class='card flex' style='width: 11rem; height: 16rem'>
        <span>After after tomorrow</span>
        <div class='flex'>
            <img src="http://openweathermap.org/img/wn/{{data.daily[2].weather[0].icon}}@2x.png" alt="">
        </div>
        <div class='card-body'>
            <label for="">Temperature:</label>
            <span ng-bind="(data.daily[2].temp.day - 273).toFixed(1)"></span>
            <label for="">Humidity:</label>
            <span ng-bind="(data.daily[2].humidity)"></span>
        </div>
    </div>

    <div class='card flex' style='width: 11rem; height: 16rem'>
        <span>After a a tomorrow</span>
        <div class='flex'>
            <img src="http://openweathermap.org/img/wn/{{data.daily[3].weather[0].icon}}@2x.png" alt="">
        </div>
        <div class='card-body'>
            <label for="">Temperature:</label>
            <span ng-bind="(data.daily[3].temp.day - 273).toFixed(1)"></span>
            <label for="">Humidity:</label>
            <span ng-bind="(data.daily[3].humidity)"></span>
        </div>
    </div>
</div>

   



